@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.imgCapa {
    background-image: url('/public/assets/FotoCapa.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.conteudoCapa {
    width: 643px;
    height: 443px;
    flex-shrink: 0;
    margin-right: 58px;
    border-radius: 10px;
    background: #FFF3E3;
    padding: 0px 40px;
}

.subtitulo {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin-bottom: 4px;
    margin-top: 62px;
}

.titulo_capa {
    color: #B88E2F;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 17px;
}

.texto {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 46px;
    width: 530px;
}

.botao {
    text-decoration: none;
    display: inline-flex;
    padding: 25px 72px;
    align-items: flex-start;
    gap: 10px;
    background: #B88E2F;
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}