body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 5rem;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-size: 3rem;
}

p{
    font-size: 1.25rem;
}

div{
    display: flex;
    justify-content: space-between;
    margin: 1rem 8rem;
}

button{
    border-radius: 0.5rem;
    padding: 0.25rem 1.25rem;
}